sudo: required
language: generic

services:
  - docker

before_install:
  - docker build -t forlearn1989/multi-docker -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true forlearn1989/multi-docker npm test -- --coverage

after_success:
  - docker build -t forlearn1989/multi-client ./client
  - docker build -t forlearn1989/multi-nginx ./nginx
  - docker build -t forlearn1989/multi-server ./server
  - docker build -t forlearn1989/multi-worker ./worker
  # Log in to the docker CLI
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  # Take those images and push them to docker hub
  - docker push forlearn1989/multi-client
  - docker push forlearn1989/multi-nginx
  - docker push forlearn1989/multi-server
  - docker push forlearn1989/multi-worker
